body    {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
#menu_top   {
    background: #141414;
    height: 40;
}
#banner {
    background: red;
    height: 80px;
    width: 1000px
}

#main #left {
    width: 800px;
    background: #ccc;
    float: left;
}

#main #right {
    width: 200px;
    background: blue;
    float: left;
    min-height: 400px;
}
#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #FFF;
    clear: left;
    line-height: 60px;
}   